* {
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    color: black;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: cadetblue;
    color: white;
}

nav ul {
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}

nav ul li:hover {
    background-color: black;
    transition: background-color 300ms linear;
}

.image-area {
    background-image: url('images/city-6931092_1920.jpg');
    background-position: center center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
}

.center-container {
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;
}

.image-text {
    background-color: black;
    color: white;
    font-size: 1.8rem;
    padding: 0 16px;
}

.intro-text {
    color: grey;
    font-size: 1.3rem;
    padding-top: 50px;
    padding-bottom: 50px;
}

.single-service {
    text-align: center;
    margin-bottom: 32px;
}

.single-service img {
    width: 340px;
}

.single-service p {
    font-size: 1.0rem;
    padding: 0 16px;
}

footer {
    clear: both;
    background-color: cadetblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: .9rem;
}

@media (min-width: 730px) {
    nav ul {
        text-align: right;
    }

    nav ul li {
        display: inline-block;
        border-bottom: 0;
        border-left: 1px solid black;
        text-align: left;
        padding-right: 50px;
        padding-left: 50px;
    }

    .image-text {
        font-size: 2.5rem;
    }

    .intro-text {
        font-size: 1.6rem;
    }
   
    .single-service {
        width: 50%;
        float: left;
    }

    .single-service p {
        font-size: 1.1rem;
    }

    footer {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    .single-service img {
        width: 300px;
    }

    .image-text {
        font-size: 2.1rem;
    }
}